h1 {
    margin-left: 40px;
}
li {
    background-color: blue;
    margin: 5px;
    width: 100px;
    text-align: center;
    padding: 2px 20px;
}
ul {
    list-style-type: none;
    color: white;
}
li:hover {
    border: 2px solid red;
    padding: 0px 18px;
}
.cap_de_setmana{
    background-color: green;
}
.cap_de_setmana:hover {
    background-color: grey;
    color: black;
    border: 2px solid red
}
