body {
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link {
    color: red;
}
  a:visited {
    color: purple;
}
  a:hover {
    color: green;
    text-decoration-line: none;
}
  a:active {
    color: lime;
}
h1 {
    color: orange;
    text-align: center;
    font-size: 20px;
}
li {
    font-size: 15px;
}